# LIMPIEZA DE DATOS

In [1]:
#IMPORTACIÓN DE LIBRERÍAS
import pandas as pd

In [2]:
#DEFINICIÓN DE LIBRERÍAS

url_cliente = "https://raw.githubusercontent.com/annaalfaro/EntregaTFM/main/Cliente_Original.csv"
url_producto = "https://raw.githubusercontent.com/annaalfaro/EntregaTFM/main/Producto_Original.csv"
url_ventas   = "https://raw.githubusercontent.com/annaalfaro/EntregaTFM/main/Ventas_Original.csv"

#CARGA DE FICHEROS

Cliente = pd.read_csv(url_cliente, sep=';')
Producto = pd.read_csv(url_producto, sep=';')
Ventas = pd.read_csv(url_ventas, sep=';')

In [3]:
#VISUALIZACIÓN CLIENTE

print(Cliente.head())

                  Representante    Ciudad
0            Luisa García López      Lima
1  Juan Carlos Rodríguez Huamán     Cusco
2       Ana María Castro Chávez  Arequipa
3      Miguel Ángel Vega Torres  Trujillo
4       Carla Fernández Mendoza  Chiclayo

In [4]:
#VISUALIZACIÓN PRODUCTO

print(Producto.head())

  CódigoProducto          Descripción   Gama Sistema Operativo  \
0     B00J0O5J4Y  Xiaomi Redmi Note 3  Media     Android 5.0.2
1     B00F3J4B5S    Samsung Galaxy A3   Baja     Android 4.4.4
2     B00NQGP42Y          Moto G Plus  Media     Android 6.0.1
3     B01LQV1YHO      Huawei Nexus 6P   Alta      Android 6.0
4     B018IZ0SWI      BLU Advance 5.0   Baja       Android 4.2

            Pantalla Precio de venta (€)
0       5.5" IPS LCD              402,24
1  4.5" Super AMOLED              412,28
2       5.5" IPS LCD              567,86
3        5.7" AMOLED              388,14
4           4.5" TFT              387,18

In [5]:
#VISUALIZACIÓN VENTAS

print(Ventas.head())

    Fecha                 Representante CódigoProducto  Unidades
0  1/1/14        Valentina Tapia Castro     B00F3J4B5S       4.0
1  2/1/14         Gabriela Rojas Huerta     B018IZ0SWI       2.0
2  2/1/14       Carla Fernández Mendoza     B01DZJFWNC       1.0
3  2/1/14            Luisa García López     B01DZJFWNC       2.0
4  2/1/14  Juan Carlos Rodríguez Huamán     B016381QZA       4.0

### Buscar valores nulos y eliminarlos

In [6]:
#Buscar valores nulos (blancos o con caracteres raros)

Ventas[Ventas.isnull().any(axis=1)]
Cliente[Cliente.isnull().any(axis=1)]
Producto[Producto.isnull().any(axis=1)]

Empty DataFrame
Columns: [CódigoProducto, Descripción, Gama, Sistema Operativo, Pantalla, Precio de venta (€)]
Index: []

In [7]:
# Eliminar blancos:
Ventas.dropna(inplace=True)
Cliente.dropna(inplace=True)
Producto.dropna(inplace=True)

### Verificar que todos los valores de la columna de representante estan en la tabla ventas y a la inversa

In [8]:
# 1. Verificar los valores de la columna representante en ambas tablas

# Valores únicos en ambos
representantes_ventas = set(Ventas['Representante'].unique())
representantes_cliente = set(Cliente['Representante'].unique())

In [9]:
# Representantes en Cliente que no están en Ventas
representantes_faltantes = representantes_cliente - representantes_ventas

print("Representantes en Cliente que no están en Ventas:")
print(representantes_faltantes)

Representantes en Cliente que no están en Ventas:
{'José Morales Castro'}

In [10]:
# 2. Mostrar valores no validos:
representantes_invalidos = Cliente[Cliente['Representante'].isin(representantes_faltantes)]
representantes_invalidos

          Representante   Ciudad
70  José Morales Castro  Sechura

In [11]:
# 3. Borrar los datos:
Cliente = Cliente[~Cliente['Representante'].isin(representantes_faltantes)]

In [12]:
#Lo mismo a la inversa:

# Valores únicos en ambos
representantes_ventas = set(Ventas['Representante'].unique())
representantes_cliente = set(Cliente['Representante'].unique())

# Representantes en Cliente que no están en Ventas
representantes_faltantes = representantes_ventas - representantes_cliente

print("Representantes en Cliente que no están en Ventas:")
print(representantes_faltantes)
representantes_invalidos = Ventas[Ventas['Representante'].isin(representantes_faltantes)]
representantes_invalidos
Ventas = Ventas[~Ventas['Representante'].isin(representantes_faltantes)]

Representantes en Cliente que no están en Ventas:
{'Valentina Tapia Castro'}

### Verificar lo mismo pero con tabla producto y ventas

In [13]:
# Mismo proceso para producto y Ventas:
# Valores únicos en ambos
CódigoProducto_ventas = set(Ventas['CódigoProducto'].unique())
CódigoProducto_producto = set(Producto['CódigoProducto'].unique())

# CódigoProducto en Procucto que no están en Ventas
CódigoProducto_faltantes = CódigoProducto_ventas - CódigoProducto_producto

print("CódigoProducto en Producto que no están en Ventas:")
print(CódigoProducto_faltantes)
CódigoProducto_invalidos = Ventas[Ventas['CódigoProducto'].isin(CódigoProducto_faltantes)]
CódigoProducto_invalidos
Ventas = Ventas[~Ventas['CódigoProducto'].isin(CódigoProducto_faltantes)]

CódigoProducto en Producto que no están en Ventas:
set()

In [14]:
# Mismo proceso para producto y Ventas:
# Valores únicos en ambos
CódigoProducto_ventas = set(Ventas['CódigoProducto'].unique())
CódigoProducto_producto = set(Producto['CódigoProducto'].unique())

# CódigoProducto en Procucto que no están en Ventas
CódigoProducto_faltantes = CódigoProducto_producto - CódigoProducto_ventas

print("CódigoProducto en Producto que no están en Ventas:")
print(CódigoProducto_faltantes)
CódigoProducto_invalidos = Producto[Producto['CódigoProducto'].isin(CódigoProducto_faltantes)]
CódigoProducto_invalidos
Producto = Producto[~Producto['CódigoProducto'].isin(CódigoProducto_faltantes)]

CódigoProducto en Producto que no están en Ventas:
set()

### Añadir los campos de codificación que se usaran para claves primarias y únicas.

In [15]:
# Añadir campo en tabla Cliente
Cliente = Cliente.reset_index(drop=True)  
Cliente['códigocliente'] = Cliente.index.map(lambda x: f'C{x:04}')

# Reordenar columnas: primero código, luego las demás
columnas_ordenadas = ['códigocliente'] + [col for col in Cliente.columns if col != 'códigocliente']
Cliente = Cliente[columnas_ordenadas]

In [16]:
print(Cliente.head())

  códigocliente                 Representante    Ciudad
0         C0000            Luisa García López      Lima
1         C0001  Juan Carlos Rodríguez Huamán     Cusco
2         C0002       Ana María Castro Chávez  Arequipa
3         C0003      Miguel Ángel Vega Torres  Trujillo
4         C0004       Carla Fernández Mendoza  Chiclayo

In [17]:
# Cambiar la columna representante en la tabla Ventas por el Código cliente

# Primero ver que tengan el mismo formato
Ventas.columns = Ventas.columns.str.strip().str.lower()
Cliente.columns = Cliente.columns.str.strip().str.lower()

# Hacer merge con la columna Representante
Ventas = Ventas.merge(Cliente[['representante', 'códigocliente']], on='representante', how='left')

# Eliminar la columna 'representante' 
Ventas = Ventas.drop(columns=['representante'])

In [18]:
# Reordenar para poner CódigoCliente al principio
Ventas = Ventas[['fecha', 'códigocliente', 'códigoproducto', 'unidades']]

In [19]:
print(Ventas.head())

    fecha códigocliente códigoproducto  unidades
0  2/1/14         C0008     B018IZ0SWI       2.0
1  2/1/14         C0004     B01DZJFWNC       1.0
2  2/1/14         C0000     B01DZJFWNC       2.0
3  2/1/14         C0001     B016381QZA       4.0
4  3/1/14         C0005     B00J0O5J4Y       2.0

In [20]:
#Crear código único tabla Ventas
Ventas = Ventas.reset_index(drop=True)

# Crear la columna CódigoVentas con formato V000000000
Ventas['códigoventas'] = Ventas.index.map(lambda x: f'V{x:09}')

# Reordenar columnas
Ventas = Ventas[['códigoventas', 'fecha', 'códigocliente', 'códigoproducto', 'unidades']]

In [21]:
print(Ventas.head())

  códigoventas   fecha códigocliente códigoproducto  unidades
0   V000000000  2/1/14         C0008     B018IZ0SWI       2.0
1   V000000001  2/1/14         C0004     B01DZJFWNC       1.0
2   V000000002  2/1/14         C0000     B01DZJFWNC       2.0
3   V000000003  2/1/14         C0001     B016381QZA       4.0
4   V000000004  3/1/14         C0005     B00J0O5J4Y       2.0

### Añadir precio venta en la tabla ventas a partir del campo unidades y del precio que pone en la tabla producto

In [22]:
# Asegurar que los campos esten correctos
Ventas['codigoproducto'] = Ventas['códigoproducto'].astype(str).str.strip().str.upper()
Producto['codigoproducto'] = Producto['CódigoProducto'].astype(str).str.strip().str.upper()

In [23]:
print(Producto.head())

  CódigoProducto          Descripción   Gama Sistema Operativo  \
0     B00J0O5J4Y  Xiaomi Redmi Note 3  Media     Android 5.0.2
1     B00F3J4B5S    Samsung Galaxy A3   Baja     Android 4.4.4
2     B00NQGP42Y          Moto G Plus  Media     Android 6.0.1
3     B01LQV1YHO      Huawei Nexus 6P   Alta      Android 6.0
4     B018IZ0SWI      BLU Advance 5.0   Baja       Android 4.2

            Pantalla Precio de venta (€) codigoproducto
0       5.5" IPS LCD              402,24     B00J0O5J4Y
1  4.5" Super AMOLED              412,28     B00F3J4B5S
2       5.5" IPS LCD              567,86     B00NQGP42Y
3        5.7" AMOLED              388,14     B01LQV1YHO
4           4.5" TFT              387,18     B018IZ0SWI

In [24]:
# Hacer merge entre Ventas y Producto, solo con la columna precio
Ventas = Ventas.merge(Producto[['codigoproducto', 'Precio de venta (€)']], on='codigoproducto', how='left')

In [25]:
print(Ventas.head())

  códigoventas   fecha códigocliente códigoproducto  unidades codigoproducto  \
0   V000000000  2/1/14         C0008     B018IZ0SWI       2.0     B018IZ0SWI
1   V000000001  2/1/14         C0004     B01DZJFWNC       1.0     B01DZJFWNC
2   V000000002  2/1/14         C0000     B01DZJFWNC       2.0     B01DZJFWNC
3   V000000003  2/1/14         C0001     B016381QZA       4.0     B016381QZA
4   V000000004  3/1/14         C0005     B00J0O5J4Y       2.0     B00J0O5J4Y

  Precio de venta (€)
0              387,18
1              238,62
2              238,62
3              481,94
4              402,24

In [26]:
# Reemplazar coma decimal por punto y convertir a float
Ventas['Precio de venta (€)'] = Ventas['Precio de venta (€)'].str.replace(',', '.').astype(float)

In [27]:
# Asegurar de que 'unidades' sea numérica
Ventas['unidades'] = pd.to_numeric(Ventas['unidades'], errors='coerce')

In [28]:
# Calcular preciototal
Ventas['preciototal'] = Ventas['unidades'] * Ventas['Precio de venta (€)']

In [29]:
print(Ventas.head())

  códigoventas   fecha códigocliente códigoproducto  unidades codigoproducto  \
0   V000000000  2/1/14         C0008     B018IZ0SWI       2.0     B018IZ0SWI
1   V000000001  2/1/14         C0004     B01DZJFWNC       1.0     B01DZJFWNC
2   V000000002  2/1/14         C0000     B01DZJFWNC       2.0     B01DZJFWNC
3   V000000003  2/1/14         C0001     B016381QZA       4.0     B016381QZA
4   V000000004  3/1/14         C0005     B00J0O5J4Y       2.0     B00J0O5J4Y

   Precio de venta (€)  preciototal
0               387.18       774.36
1               238.62       238.62
2               238.62       477.24
3               481.94      1927.76
4               402.24       804.48

In [30]:
# Eliminar columna precio de venta
Ventas = Ventas.drop(columns=['Precio de venta (€)'], errors='ignore')

In [31]:
print(Ventas.head())

  códigoventas   fecha códigocliente códigoproducto  unidades codigoproducto  \
0   V000000000  2/1/14         C0008     B018IZ0SWI       2.0     B018IZ0SWI
1   V000000001  2/1/14         C0004     B01DZJFWNC       1.0     B01DZJFWNC
2   V000000002  2/1/14         C0000     B01DZJFWNC       2.0     B01DZJFWNC
3   V000000003  2/1/14         C0001     B016381QZA       4.0     B016381QZA
4   V000000004  3/1/14         C0005     B00J0O5J4Y       2.0     B00J0O5J4Y

   preciototal
0       774.36
1       238.62
2       477.24
3      1927.76
4       804.48

### Guardar las tablas ya limpiadas

In [32]:
# Guardar las tablas como CSV en el mismo directorio del proyecto
Ventas.to_csv("Ventas.csv", index=False)
Producto.to_csv("Producto.csv", index=False)
Cliente.to_csv("Cliente.csv", index=False)